@model TrucksUpFoAdmin.Models.Cl_UserLogin
@{
    Layout = null;
}
                                                                    
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin TrucksUp-FO</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="codedthemes" />
    <!-- Favicon icon -->

    <link rel="icon" href="~/assets/images/New Logo.jpg" type="image/x-icon">
   
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="~/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link href="~/assets/css/LoginStyle.css" rel="stylesheet" />
</head>

<body themebg-pattern="theme1">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->

                    <div class="md-float-material form-material">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        { 
                            <div class="auth-box card">
                                <div class="card-block"> 
                                    <div class="row m-b-20">

                                        <div class="col-md-12">
                                            <div class="text-center">
                                                <img height="90" src="~/assets/images/Message_Logo1.png" alt="logo.png">
                                            </div>
                                            <br /><br />
                                            <h3 class=" ">Welcome to TrucksUp! 👋</h3>
                                            <p>Please sign-in to your account and start the adventure</p>
                                        </div>
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)
                                        @if (@ViewBag.Message != null)
                                        {
                                        <div style="color: red; font-size: 13px; padding: 15px;">
                                            @ViewBag.Message
                                        </div>
                                        }
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="text" name="UserName" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Your Username</label>
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "validation" })
                                    </div>
                                    <div class="form-group form-primary">
                                        <input type="password" name="Password" class="form-control" required="">
                                        <span class="form-bar"></span>
                                        <label class="float-label">Your Password</label>
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation" })
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-sm btn-default waves-effect waves-light text-center w-100" type="button" style="font-size: 20px;font-weight:bold;"><s id="captchacode">7656</s></button>
                                        </div>
                                        <div class="col-6">
                                            <button onclick="fngeneratecaptcha()" class="btn btn-sm btn-default waves-effect waves-light text-center w-100" style="background-color: #fdffb4;" type="button">Generate new</button>
                                        </div>
                                        <div class="col-12 mt-3">
                                            <div class="form-group form-primary">
                                                <input type="number" name="Captchacode" class="form-control" required="">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Enter Captcha Code</label>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Captchacode, "", new { @class = "validation" })
                                        </div>
                                    </div>

                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            <div class="checkbox-fade fade-in-primary d-">
                                                <label>
                                                    <input type="checkbox" value="">
                                                    <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                    <span class="text-inverse">Remember me</span>
                                                </label>
                                            </div>
                                            <div class="forgot-phone text-right f-right">
                                                <a href="#" class="text-right f-w-600"> Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="text-inverse text-left m-b-0">Thank you.</p>
                                            <p class="text-inverse text-left"><a href="https://trucksup.com"><b>Back to website</b></a></p>
                                        </div>
                                        <div class="col-md-3">
                                            <img height="35" src="~/assets/images/Message_Logo1.png" alt="small-logo.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="~/assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/assets/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/assets/js/SmoothScroll.js"></script>
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <script type="text/javascript" src="~/assets/js/common-pages.js"></script>
    <script src="~/assets/js/LoginHelper.js"></script>
    <script>
        $(function () {
            fngeneratecaptcha();
        });
        function fngeneratecaptcha() {
            $.ajax({
                url: '@Url.Action("generateCaptchacode", "Account")',
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                data: {},
                beforeSend: function () {

                },
                success: function (data) {
                    $("#captchacode").text(data);
                },
                error: function (jqXHR, exception) {
                    if (jqXHR.responseText.indexOf('session') > -1) {
                        Logout();
                    }
                    else {
                        if (jqXHR.status === 0) {
                            alert('Not connect.\n Verify Network.');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                    }
                },
                complete: function () {

                },
            });
        }
    </script>
</body>

</html>
